model_config_list {
  config {
    model_platform: 'tensorflow'
    name: 'inception_v3'
    base_path: '/models/inception_v3'
  }
  config {
    model_platform: 'tensorflow'
    name: 'mobilenet'
    base_path: '/models/mobilenet'
  }
  config {
    model_platform: 'tensorflow'
    name: 'mobilenet_v2'
    base_path: '/models/mobilenet_v2'
  }
}
