:root {
    --primary: #f04e4c;
    --green: #00a796;
    --turqoise: #5bc4bf;
    --yellow: #fff685;
    --orange: #f7955d;
    --purple: #8781bd;
    --black: #0c191c;
    --steel-gray-1: #111f27;
    --steel-gray-2: #2e4257;
    --steel-gray-3: #385c74;
    --steel-gray-4: #607a96;
    --steel-gray-5: #90aac1;
    --steel-gray-6: #bcd1e2;
    --steel-gray-7: #e1f4fd;
    --white: #ffffff;

}